# PocketBase 配置
# 取消注释并设置相应的值

# 局域网环境 (在中心时使用)
# LOCAL_POCKETBASE_URL=http://192.168.0.59:8090

# DDNS环境 (在家或外网时使用)
# NEXT_PUBLIC_POCKETBASE_URL=http://pjpc.tplinkdns.com:8090

# 开发环境端口 (可选)
# PORT=3004

# 其他配置
# NODE_ENV=development
